.vscode
instances
**/logs
**/*.db
envs
repos/*
!repos/DaCapoExample
build/bin
note.md
settings.yml
tools


# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)
# vendor/

# End of https://mrkandreev.name/snippets/gitignore-generator/#Go